<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container" id="contentLayout">
        <!--start breadcrumb navigation-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title pull-left">控制面板</h4>
                    <ol class="breadcrumb pull-right">
                        <li>
                            <a href="javascript:void(0)">Smart Admin</a>
                        </li>
                        <li class="active">
                            控制面板
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/components")
    @RenderSection("scripts", required: false)
</body>
</html>
