<!DOCTYPE html>
<html class="dark-theme">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - my bootstrap ui</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <!--begin page-->
    <div id="wrapper" @*class="sidebar-collapsed"*@>
        <!--topbar start-->
        <div class="topbar">
            <!--logo-->
            <div class="topbar-left">
                <a href="javascript:void(0)" class="logo">
                    <span>
                        Smart
                        <span>Admin</span>
                    </span>
                </a>
            </div>
            <!--Navbar-->
            <div class="navbar navbar-default shadow">
                <div class="container">
                    <!--page title-->
                    <ul class="nav navbar-nav pull-left">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link navbar-minimize">
                                <i class="material-icons" icon-modern="menu">&#xE5D2;</i>
                            </a>
                        </li>
                        <!--面包屑导航是否考虑放在此处以节省空间? 参考admin to-->
                        @*<li class="nav-item">
                                <h4 class="page-title">Dashboard</h4>
                            </li>*@
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item dropdown dropdown-right">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons" icon-modern="apps">&#xE5C3;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg p-bt-12" aria-labelledby="dLabel">
                                <div class="container-fluid">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <div class="p-bt-12">
                                                <a href="javascript:void(0)" class="text-default">
                                                    <i class="material-icons f-36 text-primary">&#xE8A1;</i>
                                                    <br />
                                                    Payment
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="p-bt-12">
                                                <a href="javascript:void(0)" class="text-default">
                                                    <i class="material-icons f-36 text-success">&#xE853;</i>
                                                    <br />
                                                    Account
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="p-bt-12">
                                                <a href="javascript:void(0)" class="text-default">
                                                    <i class="material-icons f-36 text-inverse">&#xE0B9;</i>
                                                    <br />
                                                    Comments
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="p-bt-12">
                                                <a href="javascript:void(0)" class="text-default">
                                                    <i class="material-icons f-36 text-danger">&#xE158;</i>
                                                    <br />
                                                    Messages
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="p-bt-12">
                                                <a href="javascript:void(0)" class="text-default">
                                                    <i class="material-icons f-36 text-lilac">&#xE2BD;</i>
                                                    <br />
                                                    Cloud
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="p-bt-12">
                                                <a href="javascript:void(0)" class="text-default">
                                                    <i class="material-icons f-36 text-teal">&#xE8B8;</i>
                                                    <br />
                                                    Settings
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" side-bar-index="1">
                                <span class="badge badge-attension">8</span>
                                <i class="material-icons" icon-modern="announcement">&#xE85A;</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="material-icons" icon-modern="fullscreen">&#xE5D0;</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--left side menu-->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">菜单导航</li>
                        <li>
                            <a href="javascript:void(0)" class="waves-effect">
                                <i class="fa fa-tachometer "></i>
                                <span>控制面板</span>
                            </a>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:void(0)" class="waves-effect">
                                <i class="fa fa-expand"></i>
                                <span>页面布局</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav">
                                <li>
                                    <a href="javascript:void(0)" data-url="/Home/Designer">
                                        <span class="title">參考鏈接</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">布局 2</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:void(0)" class="waves-effect">
                                <i class="fa fa-firefox"></i>
                                <span>UI 元素</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav">
                                <li>
                                    <a href="javascript:void(0)" data-url="/Home/Colors">
                                        <span class="title">google colors</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-url="/Home/Panels">
                                        <span class="title">Panels</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-url="/Home/Tabs">
                                        <span class="title">Tabs & Accordions</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-url="/Home/Buttons">
                                        <span class="title">Buttons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-url="/Home/Modals">
                                        <span class="title">Modals</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">Alert</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">Tooltips</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">Popovers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">Breadcrumbs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">Progress Bars</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">Pagination</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">Video</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="waves-effect">
                                <i class="fa fa-envelope"></i>
                                <span>电子邮件</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="waves-effect">
                                <i class="fa fa-area-chart"></i>
                                <span>图表Charts</span>
                            </a>
                        </li>
                        <!--start menu levels-->
                        <li class="has-sub">
                            <a href="javascript:void(0)" class="waves-effect">
                                <i class="fa fa-sitemap"></i>
                                <span>层级菜单</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">菜单 1.1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="title">菜单 1.2</span>
                                    </a>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">
                                        <span class="title">菜单 1.3</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="title">菜单 2.1</span>
                                            </a>
                                        </li>
                                        <li class="has-sub">
                                            <a href="javascript:void(0)">
                                                <span class="title">菜单 2.2</span>
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav">
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        <span class="title">菜单 3.1</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <ul class="nav">
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <span class="title">菜单 4.1</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="title">菜单 3.2</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="title">菜单 2.3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--main content-->
        <div class="content-page">
            <!--start content-->
            <div class="content">
                <div class="container" id="contentLayout">
                    @RenderBody()
                </div>
            </div>
            <!--start foot-->
            <footer class="footer">
                2016 &copy; Smart Admin. Created by Quaider Zhang.
            </footer>
        </div>
        <!--right sidebar-->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="material-icons" icon-modern="highlight_off">&#xE888;</i>
            </a>
            <h4 class="">Notifications</h4>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/pace.min.js"></script>
    <script src="~/Scripts/quaider.menu.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script>
        $(function () {
            QuaiderApp.start();
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
