@{
    Layout = null;
}
@model SmartAdmin.Models.User
<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">表单验证</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">表单元素</a>
                </li>
                <li class="active">
                    表单验证
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">基本验证</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/Home/FormValidation">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="UserName">
                            <span class="text-danger">*</span>
                            User name
                        </label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(f => f.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(f => f.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Password">
                            <span class="text-danger">*</span>
                            Password
                        </label>
                        <div class="col-sm-7">
                            @Html.PasswordFor(f => f.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(f => f.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="ComfirmPassword">
                            <span class="text-danger">*</span>
                            Confirm Password
                        </label>
                        <div class="col-sm-7">
                            @Html.PasswordFor(f => f.ComfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(f => f.ComfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="EmailAddress">
                            <span class="text-danger">*</span>
                            Email Address
                        </label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(f => f.EmailAddress, new { @class = "form-control", placeholder = "Enter a valid e-mail" })
                            @Html.ValidationMessageFor(f => f.EmailAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="MaxLength">
                            MaxLength
                        </label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(f => f.MaxLength, new { @class = "form-control", placeholder = "Max 10 chars" })
                            @Html.ValidationMessageFor(f => f.MaxLength)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="MinLength">
                            MinLength
                        </label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(f => f.MinLength, new { @class = "form-control", placeholder = "Min 5 chare" })
                            @Html.ValidationMessageFor(f => f.MinLength)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="RangeLength">
                            Range Length
                        </label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(f => f.RangeLength, new { @class = "form-control" })
                            @Html.ValidationMessageFor(f => f.RangeLength)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span class="text-danger">*</span>
                            Min check
                        </label>
                        <div class="col-sm-7">
                            @Html.EditorFor(f => f.MinCheck, "CheckBoxList", new
                            {
                                TagName = "MinCheck",
                                CheckBoxItems = ViewBag.Course,
                                Numbers = 3
                            })
                            <span class="field-validation-error" data-valmsg-for="MinCheck" data-valmsg-replace="true">
                                <span for="MinCheck" class="">后续再提供CheckboxList 及 CheckBox Boolean扩展.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Remark">
                            <span class="text-danger">*</span>
                            Remark
                        </label>
                        <div class="col-sm-7">
                            @Html.TextAreaFor(f => f.Remark, new { @class = "form-control", rows = 3 })
                            @Html.ValidationMessageFor(f => f.Remark)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">
                                Register
                            </button>
                            <button type="reset" class="btn btn-default">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Html静态Attribute & Default form</h3>
            </div>
            <div class="panel-body">
                <form action="/Home/FormValidation" id="form2">
                    <div class="form-group">
                        <label class="control-label">
                            <span class="text-danger">*</span>
                            User name
                        </label>
                        <input type="text" name="UserName1" class="form-control" placeholder="Type something"
                               data-val="true" data-val-required="This value is required." />
                        <span data-valmsg-for="UserName1" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            MaxLength
                        </label>
                        <input class="form-control" data-val="true" placeholder="Max 10 chars"
                               data-val-maxlength="Less than 10 chars." data-val-maxlength-max="10" id="MaxLength1" name="MaxLength1" type="text">
                        <span data-valmsg-for="MaxLength1" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            MinLength
                        </label>
                        <input class="form-control" data-val="true" placeholder="Min 5 chars"
                               data-val-minlength="More than 5 words." data-val-minlength-min="5" id="MinLength1" name="MinLength1" type="text">
                        <span data-valmsg-for="MinLength1" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            City
                        </label>
                        <select class="form-control" data-val="true" data-val-required="This value is required." name="City" id="City">
                            <option value="">please select</option>
                            <option value="1">北京</option>
                            <option value="2">上海</option>
                            <option value="3">深圳</option>
                        </select>
                        <span data-valmsg-for="City" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="RangeValue">
                            Range Value
                        </label>
                        @Html.TextBoxFor(f => f.RangeValue, new { @class = "form-control" })
                        @Html.ValidationMessageFor(f => f.RangeValue)
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">
                                Register
                            </button>
                            <button type="reset" class="btn btn-default">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">自定义验证</h3>
            </div>
            <div class="panel-body">
                <form action="/Home/FormValidation" id="form3">
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">
                                Validate
                            </button>
                            <button type="reset" class="btn btn-default">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
